body{
    background-color: white;
    margin:0;
}
#main-header{
    margin:0px;
    padding-bottom:350px;
    text-align: center;
    color: #F6B96C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-image: url('../img/heidi-kaden-kYxgm42SQso-unsplash.jpg');
    background-size: 3000px 3500px;
    background-repeat: no-repeat;
    background-position: center;
}
.main-headertext{
background-color:white;
}

#main-text{
    display: flex;
    justify-content: center;
    font-size:30px;
    color: #82075D;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.navbartop{
    background-color:#006bbd;
    list-style:none;
}

.links{
    display: flex;
    justify-content: space-between;
    background-color: #006bbd;
    list-style: none;
    color: whitesmoke;
    font-size:10px;
    padding-right: 15px;
}

ul {
    list-style: none;
    text-decoration: none;
}

.navbartop li{
    display:inline;
    text-align:right;
    margin:0;
    list-style: none;
    word-spacing: 5px;
}

.navbartop a{
    color:whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    list-style:none;
    text-decoration:none;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.header1{
    color: #F6B96C;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    text-align: center;
    padding:25px;
    margin:0;
    background-color: #006bbd;
}

.clr{
    clear:both;
}

.footer{
    color:grey;
    text-align: center;
}

.formsub{
    color:grey;
    padding-bottom: 20px;
}

#form{
    background-color: #006bbd;
    padding-top:100px;
    display: flex;
    justify-content: space-around;
    padding-right: 15x;
    padding-left: 15px;
}

.button{
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid1{
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.block1{
    background-image: url('../img/cafe.jpg');
    background-size: cover;
    background-repeat: none;
    size: 1000px;
    height: 400px;
}

.block2{
    background-image: url('../img/landscape.jpg');
    background-size: cover;
    width: 500px;
    height: 400px;
    background-repeat: none;
}

.block3{
    background-image: url('../img/meteora.jpg');
    background-size: cover;
    size: 500px;
    height: 400px;
    background-repeat: none;
}

.block4{
    background-image: url('../img/mykonos.jpg');
    background-size: cover;
    size: 500px;
    height: 400px;
    background-repeat: none;
}

.block5{
    background-image: url('../img/oia.jpg');
    background-size: cover;
    size: 500px;
    height: 400px;
    background-repeat: none;
}

.block6{
    background-image: url('../img/parthenon.jpg');
    background-size: cover;
    size: 500px;
    height: 400px;
    background-repeat: none;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
}

.food1{
    background-image: url('../img/souvlaki.jpg');
    background-repeat: none;
    background-size: cover;
    width: 500px;
    height: 400px;
    background-repeat: none;
}

.food2{
    background-image: url('../img/gyros.jpg');
    background-repeat: none;
    background-size: cover;
    width: 500px;
    height: 400px;
    background-repeat: none;
}

.food3{
    background-image: url('../img/baklava.jpg');
    background-repeat: none;
    background-size: cover;
    height: 400px;
    width: 500px;
    background-repeat: none;
}

.food4{
    background-image: url('../img/greeksalad.jpg');
    background-repeat: none;
    background-size: cover;
    height: 400px;
    width: 500px;
    background-repeat: none;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding-top: 100px;
    padding-bottom: 100px;
}

.beach1{
    background-image: url('../img/beach1.jpg');
    background-size: cover;
    height: 350px;
    width: 400px;
    background-repeat: none;
}

.beach2{
    background-image: url('../img/beach2.jpg');
    background-size: cover;
    height: 350px;
    width: 400px;
    background-repeat: none;
}

.beach3{
    background-image: url('../img/beach3.jpg');
    background-size: cover;
    height: 350px;
    width: 400px;
    background-repeat: none;
}

.beach4{
    background-image: url('../img/beach4.jpg');
    background-size: cover;
    height: 350px;
    width: 400px;
    background-repeat: none;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blogsec{
    border: 3px solid #006bbd;
}

.blogtext{
    color: #006bbd;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img1{
    background-image: url('../img/blog1.jpg');
    background-size: cover;
    height: 350px;
    width: 350px;
    position: relative;
}

.img2{
    background-image: url('../img/blog2.jpg');
    background-size: cover;
    height: 350px;
    width: 350px;
    position: relative;
}

.img3{
    background-image: url('../img/blog3.jpg');
    background-size: cover;
    height: 350px;
    width: 350px;
    position: relative;
}

.imgtext{
    color: whitesmoke;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 5px;
    left: 10px;
    border: 3px solid whitesmoke;
    background-color: #006bbd;
}