body{
    background-color: white;
    margin:0;
}

#main-header{
    margin:0px;
    padding-bottom:350px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-image: url('../img/coverphoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
    position: relative;
}

.mainheadertext{
   left: 500px;
   bottom: 500px;
   position: absolute;
}

#main-text{
    display: flex;
    justify-content: center;
    font-size:30px;
    color: #82075D;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.navbartop{
    background-color:#006bbd;
    list-style:none;
    word-spacing: 4px;
}

.links{
    display: flex;
    justify-content: space-between;
    background-image: url('../img/waterbanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    color: whitesmoke;
    font-size:10px;
    padding-right: 15px;
}

ul {
    list-style: none;
    text-decoration: none;
}

.navbartop li{
    display:inline;
    text-align:right;
    margin:0;
    list-style: none;
    word-spacing: 5px;
}

.navbartop a{
    color:whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    list-style:none;
    text-decoration:none;
}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    text-align: center;
    padding:25px;
    margin:0;
    background-image: url('../img/waterbanner.jpg');
    background-repeat: none;
    background-size: cover;
}

.sectiontext{
    color: #82075D;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.infoheader{
    background-image: url('../img/waterbanner.jpg');
    background-repeat: none;
    background-size: cover;
}

.clr{
    clear:both;
}

.footer{
    color:grey;
    text-align: center;
}

.formsub{
    color:grey;
    padding-bottom: 20px;
    font-size: 16px;
}

#form{
    background-image: url('../img/waterbanner.jpg'); 
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.formsize{
    width: 100%;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border: none;
    box-shadow: none;
}

.formgroup{
    display: flex;
    align-items: center;
    width: 40%;
}

.button{
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid1{
    display: grid;
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr;
}

.blockimg{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 200px; 
}

.block1{
    background-image: url('../img/cafe.jpg');
}

.block2{
    background-image: url('../img/landscape.jpg');
}

.block3{
    background-image: url('../img/meteora.jpg');
}

.block4{
    background-image: url('../img/mykonos.jpg');
}

.block5{
    background-image: url('../img/oia.jpg');
}

.block6{
    background-image: url('../img/parthenon.jpg');
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

.foodimg{
    background-repeat: none;
    background-size: cover;
    height: 400px;
    background-repeat: none;
    background-position: center;
}
.food1{
    background-image: url('../img/souvlaki.jpg');
}

.food2{
    background-image: url('../img/gyros.jpg');
}

.food3{
    background-image: url('../img/baklava.jpg');
}

.food4{
    background-image: url('../img/greeksalad.jpg');
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
}


.blogtext{
    color: #006bbd;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
}

.imgblog{
    background-size: cover;
    height: 350px;
    position: relative;
    background-position: center;
}
.img1{
    background-image: url('../img/blog1.jpg');
}

.img2{
    background-image: url('../img/blog2.jpg');
}

.img3{
    background-image: url('../img/blog3.jpg');
}

.imgtext{
    color: whitesmoke;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: #006bbd;
    padding: 5px;
}